.center{
    position:absolute;
    display:block;
    height:100px;
    width:800px;
    left:50%;
    top:50%;
    margin-top:-200px;
    margin-left:-400px;
    background-color: white;
}

.espacio{
    margin-bottom: 10px;
    background-color: #DCE1E3;
}
